<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header }}
        {{!-- 1st argument is helper function, 2nd is parameter to that helper function --}}
        <p>{{ screamIt welcomeMessage }}</p>

        {{!-- use footer.hbs partial  --}}
        {{> footer }}
    </body>
</html>